.large-image-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: none !important;
}

.main-icon {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: block;
    transition: 0.3s;
}

.main-icon:hover {
    transform: translateY(-4%);
    filter: drop-shadow(0 0 0.5rem #E07637);
}