.search-container {
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(234, 234, 234);
}

.search {
    margin-top: 20px;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #eb7b18;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    box-sizing: content-box;
  }
  
  .searchTerm:focus{
    color: #eb7b18;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #eb7b18;
    background: #eb7b18;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search-parent {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  .meal-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .meal-item {
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 272px;
    background-color: white;
  }
  
  .meal-item img {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
  
  .meal-item h2 {
    font-size: 1.5rem;
  }
  
  .meal-item p {
    font-weight: 600;
    color: #888;
  }
  
  .meal-item a {
    color: #0077cc;
    text-decoration: none;
    font-weight: 600;
  }
  
  .meal-item a:hover {
    text-decoration: underline;
  }
  
  .filter-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .recipe-container {
    flex: 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(234, 234, 234);
  }
